@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.app {
  display: block;
  width: 300px;
  margin: 30px auto;
}

.app__no-games {
  text-align: center;
  color: #212121;
}

.filter__input {
  display: block;
  box-sizing: border-box;
  margin: 15px 0;
  width: 100%;
  border: 1px solid #E0E0E0;
  padding: 10px 15px;
  color: #000;
  background: #fff;
  transition-duration: 0.5s;

  &::placeholder {
    color: #E0E0E0;
  }

  &:hover {
    border: 1px solid #212121;
  }

  &:focus {
    border: 1px solid #212121;
  }
}
